In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Importing crime data
crime = pd.read_csv("Chicago_Crime_Final_Clean_Data.csv")

In [3]:
crime.head()

,ID,Case_Number,Date,Block,IUCR,Primary_Type,Description,Location_Description,Arrest,Domestic,...,Community_Area,FBI_Code,X_Coordinate,Y_Coordinate,Year,Updated_On,Latitude,Longitude,Location,Community_Area_Name
0,24026,JB322801,6/25/18 23:50,123XX S YALE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,53.0,01A,1176840.0,1823147.0,2018,7/2/18 15:51,41.670053,-87.628426,"(41.670052557, -87.6284259)",West Pullman
1,11359886,JB322747,6/25/18 22:04,001XX W BRAYTON ST,486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,53.0,08B,1177738.0,1821460.0,2018,7/2/18 15:51,41.665403,-87.625190,"(41.665402959, -87.625190065)",West Pullman
2,11359755,JB322421,6/25/18 17:28,122XX S PARNELL AVE,460,BATTERY,SIMPLE,SIDEWALK,False,False,...,53.0,08B,1174847.0,1823794.0,2018,7/2/18 15:51,41.671873,-87.635701,"(41.671872535, -87.635700877)",West Pullman
3,11359650,JB322719,6/25/18 21:57,002XX W 119TH ST,2027,NARCOTICS,POSS: CRACK,SIDEWALK,True,False,...,53.0,18,1176651.0,1826025.0,2018,7/2/18 15:51,41.677954,-87.629032,"(41.677954481, -87.629031525)",West Pullman
4,11359309,JB322038,6/25/18 14:24,122XX S NORMAL AVE,051A,ASSAULT,AGGRAVATED: HANDGUN,PARK PROPERTY,False,False,...,53.0,04A,1175177.0,1823767.0,2018,7/2/18 15:51,41.671791,-87.634494,"(41.671791105, -87.634493883)",West Pullman

In [4]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121696 entries, 0 to 121695
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    121696 non-null  int64
 1   Case_Number           121695 non-null  object
 2   Date                  121696 non-null  object
 3   Block                 121696 non-null  object
 4   IUCR                  121696 non-null  object
 5   Primary_Type          121696 non-null  object
 6   Description           121696 non-null  object
 7   Location_Description  121423 non-null  object
 8   Arrest                121696 non-null  bool
 9   Domestic              121696 non-null  bool
 10  Beat                  121696 non-null  int64
 11  District              121696 non-null  int64
 12  Ward                  121696 non-null  float64
 13  Community_Area        121696 non-null  float64
 14  FBI_Code              121696 non-null  object
 15  X_Coordinate          120991 non-null  float64
 16  Y_Coordinate          120991 non-null  float64
 17  Year                  121696 non-null  int64
 18  Updated_On            121696 non-null  object
 19  Latitude              120991 non-null  float64
 20  Longitude             120991 non-null  float64
 21  Location              120991 non-null  object
 22  Community_Area_Name   121696 non-null  object
dtypes: bool(2), float64(6), int64(4), object(11)
memory usage: 19.7+ MB

In [5]:
#Removing irrelevant columns
crime_cleaned = crime.drop(["Date", "ID", "Case_Number", "Block", "IUCR", "Description", "X_Coordinate", "Y_Coordinate", "Year", "Updated_On", "Latitude", "Longitude", "Location"], axis=1)

In [6]:
crime_cleaned.head()

,Primary_Type,Location_Description,Arrest,Domestic,Beat,District,Ward,Community_Area,FBI_Code,Community_Area_Name
0,HOMICIDE,STREET,False,False,523,5,34.0,53.0,01A,West Pullman
1,BATTERY,RESIDENCE,False,True,523,5,9.0,53.0,08B,West Pullman
2,BATTERY,SIDEWALK,False,False,523,5,34.0,53.0,08B,West Pullman
3,NARCOTICS,SIDEWALK,True,False,522,5,34.0,53.0,18,West Pullman
4,ASSAULT,PARK PROPERTY,False,False,523,5,34.0,53.0,04A,West Pullman

In [7]:
crime_cleaned.dtypes

Primary_Type             object
Location_Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                  int64
Ward                    float64
Community_Area          float64
FBI_Code                 object
Community_Area_Name      object
dtype: object

In [8]:
#Making Dummy Variables
crime_dummies= pd.get_dummies(crime_cleaned)
crime_dummies.head()

,Arrest,Domestic,Beat,District,Ward,Community_Area,Primary_Type_ARSON,Primary_Type_ASSAULT,Primary_Type_BATTERY,Primary_Type_BURGLARY,...,Community_Area_Name_Washington Heights,Community_Area_Name_Washington Park,Community_Area_Name_West Elsdon,Community_Area_Name_West Englewood,Community_Area_Name_West Garfield Park,Community_Area_Name_West Lawn,Community_Area_Name_West Pullman,Community_Area_Name_West Ridge,Community_Area_Name_West Town,Community_Area_Name_Woodlawn
0,False,False,523,5,34.0,53.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,False,True,523,5,9.0,53.0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,False,False,523,5,34.0,53.0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,True,False,522,5,34.0,53.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,False,False,523,5,34.0,53.0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [9]:
# Assign X (Data) and y (Target)
X = crime_dummies.drop("Arrest", axis=1)
y = crime_dummies["Arrest"]
print(X.shape, y.shape)

(121696, 261) (121696,)

In [18]:
from sklearn.model_selection import train_test_split
#Strafity helps to make the data more random
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

# LOGISTIC REGRESSION

In [19]:
#Create a logisitc regression model 
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [20]:
#Fit (train) model with training data 
classifier.fit(X_train, y_train)

C:\Users\SHIVAM\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [21]:
#Validata model using test data
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8743097554562188
Testing Data Score: 0.8747041809098081

In [14]:
#Make predictions 
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [False False False  True False False False False False False]
First 10 Actual labels: [False, False, False, True, True, True, False, False, False, False]

In [15]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

       Prediction  Actual
0           False   False
1           False   False
2           False   False
3            True    True
4           False    True
...           ...     ...
30419       False   False
30420       False    True
30421       False   False
30422       False   False
30423       False   False

[30424 rows x 2 columns]

# RANDOM FOREST

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

In [ ]:
print(f"Training Data Score: {rf.score(X_train, y_train)}")
print(f"Testing Data Score: {rf.score(X_test, y_test)}")

In [ ]:
#Make predictions
print(f"First 10 Predictions:{predictions[:10]}")
print(f"First 10 Actual labels:{y_test[:10].tolist()}")

In [ ]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

# KNEIGHBORS CLASSIFIER

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier

In [ ]:
# Loop through different k values to see which has the highest accuracy
train_scores = []
test_scores = []
for k in range(1, 20, 2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    train_score = knn.score(X_train, y_train)
    test_score = knn.score(X_test, y_test)
    train_scores.append(train_score)
                        
    print(f"k: {k}, Train/Test Score: {train_score:.3f}/{test_score:.3f}")

In [ ]:
#k: 19 to be the best choice for this dataset
knn = KNeighborsClassifier(n_neighbors=19)
knn.fit(X_train, y_train)
print('k=19 Test Acc: %.3f' % knn.score(X_test, y_test))

In [ ]:
df = pd.DataFrame({'Models Accuracy':['LogisticRegression:86.48','RandomForest:86.68','KNeighborsClassifier:86.50'], 'val':[86.48, 86.68, 86.50]})

In [ ]:
mycolor=['red','blue','green']
ax = df.plot.bar(x='Models Accuracy',y='val', color=mycolor)